@media (prefers-reduced-motion: reduce) {
    .header__animation-wrapper {
      transition: none;
    }
    .card-wrapper__header-container {
        transition: none;
    }
  }

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Fira Sans';
    margin: 0;
}

.header {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 1.5rem;
}

.header__nav {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.header__list {
    color: rgb(153, 153, 153);
    list-style-type: none;
}

.header__item {
    display: inline;
    margin: 1.5rem;
}

.header__item--current{
    font-weight: bold;
    color: rgb(53, 53, 53);
}

.header__btn {
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
}

.header__nav--small {
    display: none;
}

.header__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header__title {
    font-size: 3rem;
    margin-bottom: 0;
}

/* Animation */

.header__animation-wrapper {
    position: relative;
    animation-name: dropping-by;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes dropping-by {
    0%   {left: 0px; top: -1000px;}
    100% {left:0px; top:0px;}
  }

/* Animation */

.header__paragraph {
    color: rgb(75, 75, 75);
}

.header__store-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header__store-links--apple {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
}

.header__store-image {
    padding-right: 0.5rem;
}

.header__store-links--google {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
}

.card-wrapper {
    display: grid;
    row-gap: 3rem;
    column-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 10rem 8rem 8rem 8rem;
    background-color: rgb(255, 255, 255);
}

/* Animation */

.card-wrapper__animation-container {
    position: relative;
    animation-name: stopping-by;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
}


@keyframes stopping-by {
    0%   {left:-2000px; top:0px;}
    100% {left:0px; top:0px;}
  }


/* Animation */


.card-wrapper__header {
    font-size: 3rem;
    margin: 0;
}

.card-wrapper__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    background-color: rgb(235, 235, 235);
    height: 25rem;
    border-radius: 5px;
    align-items: center;
}

.card-wrapper__image {
    grid-area: 2 / 2 / 2 / 3;
    
}

.card-wrapper__text {
    grid-area: 4 / 2 / 4 / 3;
    text-align: center;
}

.card-wrapper__item-title {
    margin-bottom: 0.5rem;
}

.card-wrapper__item-price {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.card-wrapper__collection {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(52, 51, 50);
    color: white;
    height: 20rem;
    border-radius: 5px;
    align-items: center;
}

.card-wrapper__collection-content {
    grid-area: 2 / 2 / 2 / 3;
    text-align: center;
}

.card-wrapper__header--big {
    font-size: 2rem;
    margin: 0;
}

.card-wrapper__header--small {
    margin: 0.5rem 0 0 0;
    color: rgb(174, 173, 173);
}

.card-wrapper__card-btn {
    border: 1px solid rgb(174, 173, 173);
    border-radius: 5px;
    color: rgb(174, 173, 173);
    background-color: rgb(52, 51, 50);
    font-size: 0.7rem;
    margin-top: 1rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
}

.footer {
    background-image: url(images/footer-background.png);
    width: 100%;
    background-size: cover;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__form {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 40rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 5px;
}

.footer__form-header{
    margin: 0;
    font-size: 3rem;
}

.footer__form-header--small {
    margin-bottom: 0;
    color: rgb(78, 78, 78);
}

.footer__form-paragraph {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: rgb(122, 122, 122);
}

.footer__titles-wrapper {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.footer__icon-wrapper {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;    
}

.footer__textarea {
    resize: none;
    padding: 0.5rem;
    font-family: 'Fira Sans';
}

.footer__form__btn {
    margin-top: 2rem;
    border: 1px solid rgb(174, 173, 173);
    border-radius: 5px;
    color: rgb(174, 173, 173);
    background-color: rgb(52, 51, 50);
    font-size: 0.7rem;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
}

/*     Mobile view       */

@media only screen and (max-width: 800px) {

    .header__nav {
        display: none;
    }

    .header__btn {
        display: none;
    }

    .header__nav--small {
        display: block;
        margin: 1.5rem;
    }

    /* Animation */

    .header__animation-wrapper {
        position: relative;
        animation-name: dropping-by;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    
    @keyframes dropping-by {
        0%   {left: 0px; top: -250px;}
        100% {left:0px; top:0px;}
      }
    
    .card-wrapper__animation-container {
        position: relative;
        animation-name: stopping-by;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
    }
    
    @keyframes stopping-by {
        0%   {left:-500px; top:0px;}
        100% {left:0px; top:0px;}
      }

    /* Animation */

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        margin: 3rem 1rem 7rem 1rem;
    }

    .footer__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .footer__form {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-right: 0;
        gap: 0.5rem;
        margin-left: 0; 
        padding: 1rem 1rem 2rem 1rem;
    }

/*     Mobile view       */

  }